$header-color: #5e96fc;
$salary-color: #232134;
$background-color: #eaebed;
$white-color: #fff;
$dot-color: #7b7c88;

.cardWrapper {
  margin-top: 16px;
  padding: 24px 0 24px 24px;

  display: flex;
  flex-direction: column;
  gap: 13px;

  border-radius: 12px;
  border: 1px solid $background-color;
  background: $white-color;

  h2 {
    color: $header-color;

    font: 600 20px Inter;
    line-height: normal;
  }

  .cardDescription {
    display: flex;
    gap: 12px;

    p {
      color: $salary-color;
      font-feature-settings: "clig" off, "liga" off;
      font: 600 16px Inter;
      line-height: 20px; /* 125% */

      &::after {
        content: "•";
        color: $dot-color;
        padding-left: 12px;
      }
    }

    div {
      color: $salary-color;
      font-feature-settings: "clig" off, "liga" off;
      font: 400 16px Inter;
      line-height: 20px; /* 125% */
    }
  }

  .cardLocation {
    display: flex;
    gap: 8px;

    .geoIcon {
      background: url(./assets/geoIcon.svg) no-repeat;
      width: 20px;
      height: 20px;
      background-size: contain;
    }

    p {
      color: $salary-color;
      font: 400 16px Inter;
      line-height: normal;
    }
  }
}
